body{
			margin-top: 50px;
			font-family: 'Trebuchet MS', serif;
			line-height: 1.6
		}

.banner{
  text-align: center;
  padding-bottom: 15px;
}

#first-name {
  display:inline-block;
  font: 30px Arial;
  color: rgba(0, 0, 0, 0.7);
}
#last-name {
  display:inline-block;
  border-left:2px solid #F60;
  font: bold 50px Arial;
}

.connect {
  margin-left: -40px;
  margin-top: 10px;
  font: 40px Arial;
  width: 100%;
}

.container{
	width: 80%;
	margin: 0 auto;
  border: 2px solid #F60;
  min-height: 500px;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
  overflow: hidden;
	min-height: 442px;
}

.fa {
  color: rgba(0,0,0,0.7);
	margin: 0 10px;
}

.fa:hover {
	color: #F60;
}

#ss_menu {
	width: 500px;
	}

.ss_button {
	background-color: #F60;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	padding: 10px;
	color: #FFFFFF;
	}

.ss_content {
	background-color: #EFEFEF;
	display: none;
	padding: 10px;
	}

.blog-heading {
  font: 20px/30px Arial;
  color: #FFFFFF;
  height: 30px;
  background: #F60;
  padding-left: 10px;
}
.blog-content {
  margin-bottom: 30px;
}

#footer {
  font: 20px/40px Arial;
  text-align: center;
  height: 50px;
}

.side-list li {
	display:inline;
	font: 20px/40px Arial;
	border-left: 1px solid #F60;
	margin-left:15px;
	padding-left:15px;
}
